.content {
  position: relative;
  width: 230px;
  flex-shrink: 0;
  height: 469px;
  margin: 0 48px;
  background: url('https://img.kxll.com/admin_manage/phonet.png');

  .contentImg {
    position: absolute;
    top: 56px;
    left: 15px;
    width: 198px;
    height: 354px;
  }

  .titleImg {
    position: absolute;
    top: 48px;
    left: 21px;
    width: 155px;
    height: auto;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
