.table-box {
  position: relative;
  .table-header-box {
    display: flex;
    width: 100%;
    height: 54px;
    margin-bottom: 4px;
    background: #fafafa;
    border-radius: 4px 4px 0px 0px;
    .table-header-item-box {
      width: 6%;
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.85);
      line-height: 54px;
      text-align: center;
      overflow: hidden;
      &:nth-of-type(1) {
        width: 30%;
      }
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(10) {
        width: 10%;
      }
    }
  }
  .table-item-box {
    background: #ffffff;
    border: 1px solid #efefef;
    margin-bottom: 8px;
    .table-order-info-box {
      display: flex;
      align-items: center;
      height: 40px;
      margin: -1px -1px 0;
      background: #e9f8ff;
      .table-order-name {
        margin-left: 20px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        line-height: 40px;
      }
      .table-order-type {
        height: 22px;
        padding: 0 7px;
        margin-left: 10px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
        line-height: 20px;
        border-radius: 4px;
        border: 1px solid #999999;
      }
    }
    .table-order-content-box {
      display: flex;
      .left-content-box {
        width: 60%;
        border-right: 1px solid #efefef;
        .left-content-item-box {
          position: relative;
          display: flex;
          width: 100%;
          // min-height: 135px;
          height: 100%;
          .group-img {
            position: absolute;
            top: -2px;
            left: -2px;
          }
          .item-box {
            width: 10%;
            border-left: 1px solid #efefef;
            &:nth-of-type(1) {
              width: 50%;
            }
            .goods-box {
              display: flex;
              padding: 16px 0 16px 20px;
              .goods-img {
                width: 104px;
                height: 104px;
              }
              .goods-text {
                width: 180px;
                margin-left: 8px;
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
              }
            }
            .item-text {
              padding-top: 16px;
              font-size: 14px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.65);
              text-align: center;
            }
            .item-text-bold {
              font-weight: 600;
            }
          }
        }
        .left-content-item-num-box {
          height: 135px;
          border-top: 1px solid #efefef;
          &:nth-of-type(1) {
            border-top: none;
          }
        }
      }
      .right-content-box {
        width: 40%;
        .right-content-top-box {
          display: flex;
          min-height: 76px;
          border-bottom: 1px solid #efefef;
          .right-item-box {
            width: 25%;
            padding: 0 2px;
            text-align: center;
            border-left: 1px solid #efefef;
            &:nth-of-type(1) {
              border-left: none;
            }
            &:nth-of-type(2) {
              text-align: left;
            }
            &:nth-of-type(4) p {
              color: #1890ff;
              cursor: pointer;
            }
            p {
              margin-bottom: 4px;
              font-size: 14px;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.65);
              line-height: 22px;
              // white-space: nowrap;
              // text-overflow: ellipsis;
              // overflow: hidden;
              &:nth-of-type(1) {
                margin-top: 16px;
              }
            }
            .item-text-bold {
              font-weight: 600;
            }
          }
        }
        .right-content-buttom-box {
          .right-title {
            height: 22px;
            margin: 12px 16px 0;
            // margin-top: 12px;
            // margin-left: 16px;
            font-size: 13px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #333333;
            line-height: 22px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &:nth-of-type(2) {
              margin-top: 4px;
            }
          }
          .right-textarea {
            width: 96%;
            height: 68px;
            margin-top: 4px;
            margin-left: 2%;
          }
          .right-operation {
            display: flex;
            justify-content: flex-end;
            margin: 4px 18px 4px 0;
            p {
              margin-left: 12px;
              height: 22px;
              font-size: 14px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: #1890ff;
              line-height: 22px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
