.storedAddBox{
    .addStoredContent{
        background:#fff;
        margin: 24px;
        .topBtnBox{
            float:right;
            .topCommon{
                margin-right: 12px;
            }
        }
        .titleBox{
            padding: 16px 32px;
            border-bottom: 1px solid #e8e8e8;
            font-size: 16px;
        }
        .content{
            padding: 64px 0 106px 104px;
            overflow: hidden;
            .rightBox{
                margin-left:70px;
                width: 400px;
                float: left;
                color:#333;
                .bannerTitle{
                    color:#333;
                    padding-left:15px;
                }
                .bottomBtnBox{
                    padding-top:36px;
                }
                .toolBox{
                    margin-left: 4px;
                    display:inline-block;
                    width: 16px;
                    height: 16px;
                    background:#666;
                    color:#fff;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 16px;
                    font-size:12px;
                    cursor: pointer;
                }
                .stroedImgBox{
                    margin-top: 8px;
                    width: 100%;
                    height: 178px;
                    .coverImage{
                        position: relative;
                        width: 100%;
                        height: 160px;
                         img{
                             width: 100%;
                             height: 160px;
                         }
                         .coverEdit{
                             position: absolute;
                             left:0;
                             top:0;
                             background:rgba(0,0,0,0.45);
                             width: 100%;
                             height: 100%;
                             display: flex;
                             justify-content: center;
                             align-items: center;
                             div{
                                 color:#fff;
                                 border-radius: 2px;
                                 border: 1px solid #fff;
                                 font-size:12px;
                                 padding: 3px 20px;
                                 
                             }
                         }
                     }
                    .uploadBox{
                        width: 100%;
                        height: 100%;
                        
                        :global{
                            .ant-upload.ant-upload-select-picture-card{
                                width: 100%;
                                height: 100%;
                                padding:0;
                            }
                        }
                    }
                }
                .imgText{
                    color:#666;
                    font-size:12px;
                    padding-top: 6px;
                    padding-bottom: 20px;
                }
                .title{
                    font-size:16px;
                    padding-bottom: 4px;
                    border-bottom: 1px solid #e8e8e8;
                    margin-bottom: 15px;
                    color:#000;
                }
            }
            .leftBox{
                float: left;
                width: 290px;
                height: 617px;
                background:rgba(255,255,255,1);
                box-shadow:0px 4px 16px 0px rgba(0,0,0,0.14);
                .cardContent{
                    padding: 0 13px;
                    .payBtn{
                        color:#fff;
                        height:34px;
                        background:linear-gradient(136deg,rgba(244,49,66,1) 0%,rgba(254,117,3,1) 100%);
                        border-radius:22px;
                        text-align: center;
                        font-size:14px;
                        line-height: 34px;
                        margin-top:40px;
                    }
                    .descContent{
                        color:#717171;
                        font-size:12px;
                        padding-top:4px;
                        padding-left:15px;
                    }
                    .ruleContent{
                        color:#717171;
                        font-size:12px;
                        padding-top:4px;
                        padding-left:15px;
                        min-height: 70px;
                        max-height: 160px;
                        overflow-y:auto; 
                    }
                    .descTitle{
                        padding-top: 18px;
                        color:#3A3A3A;
                        font-size:12px;
                        span{
                            display: inline-block;
                            width:10px;
                            height:10px;
                            border: 2px solid #F53A39;
                            border-radius: 50%;
                            margin-right: 3px;
                            vertical-align: baseline;
                        }
                    }
                    .cardBox{
                        height: 134px;
                        width: 100%;
                        background-size: 100% 100%;
                        color:#fff;
                        padding: 17px 0 0 17px;
                        position: relative;
                        box-shadow:0px 4px 16px 0px rgba(0,0,0,0.14);
                        .moneyBox{
                            font-size:12px;
                            position: absolute;
                            bottom:7px;
                            left:17px;
                            span{
                                font-size:24px;
                            }
                        }
                    }
                }
                .topBg{
                    height: 30px;
                    width: 100%;
                    background:url('../../../assets/images/zhuangtx.png');
                    background-size: 100% 100%;
                }
                .cardTitle{
                    padding-top: 11px; 
                    padding-bottom:20px;
                    font-size:12px;
                    text-align: center;
                    font-weight: bold;
                    position: relative;
                    img{
                        width: 66px;
                        height: 23px;
                        position: absolute;
                        right:6px;
                        top:8px;
                    }
                }
            }
        }
    }
}