.selectW {
  width: 200px;
}
.inputNumberW {
  width: 120px;
}
.goodsChooseTips {
  font-size: 14px;
  color: #2d8af9;
}
.maxDiscountMoney {
  font-weight: bolder;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0;
}
.couponTips {
  font-size: 12px;
  color: #aaa;
}
.couponValueTopLine {
  height: 32px;
  display: flex;
  align-items: center;
}
.paddingTop {
  padding-top: 5px;
}

.hiddenBox {
  display: none;
}