.content {
	width: 650px;

	.header {
		border-bottom: 1px dashed #d9d9d9;
		padding-bottom: 11px;
		margin-bottom: 23px;
	}

	.title {
		height: 22px;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.85);
		line-height: 22px;
		font-weight: 600;
	}

	.msg {
		height: 22px;
		margin-left: 16px;
		font-size: 12px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.65);
		line-height: 22px;
	}
}

//addactivity
.actionBox {
	margin: 0 auto;
	text-align: center;
}

.uploadBox {
	display: flex;
	align-items: flex-end;
}

.titleBtn {
	width: 160px;
	height: 70px;
	background-size: 100%;
	background-color: #ccc;
	margin-right: 8px
}

.bgBtn {
	width: 80px;
	height: 133px;
	background-size: 100%;
	background-color: #ccc;
	margin-right: 8px;
	margin-bottom: 16px;
}

.iconBtn {
	width: 70px;
	height: 70px;
	position: relative;
	background-size: 100%;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(232, 232, 232, 1);
	margin-right: 8px;

	img {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.iconTxt {
		position: relative;
		width: 68px;
		margin-top: 35px;
		overflow: hidden;
		font-size: 14px;
		text-align: center;
		color: rgba(255, 255, 255, 0.85);
		line-height: 35px;
		height: 35px;
		background: rgba(0, 0, 0, 0.45);
	}
}

.tableInfoBox {
	display: flex;
	align-items: center;
	width: 230px;
	overflow: hidden;

	.tableImg {
		width: 60px;
		height: 60px;
		margin-right: 16px;
		display: block;
	}

	.tableMsg {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.65);
		line-height: 22px;
		margin: 0
	}
}

// Finish
.successImg {
	margin: 18px auto;
	display: block;
}

.successMsg {
	height: 32px;
	font-size: 24px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.85);
	line-height: 32px;
	text-align: center;
}

.msgBox {
	height: 250px;
	padding: 27px 32px;
	background: #F5F5F5;
	line-height: 30px;
	margin: 20px auto 16px
}