.goods-select-box{
  position: relative;
  .goods-add-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80px;
    height:80px;
    background:rgba(244,244,244,1);
    cursor: pointer;
  }
}

.bule-text{
  color: rgba(24, 144, 255, 1);
  cursor: pointer;
}