.headerTitle {
  padding: 10px;
  background: #eee;
  .word {
    border-left: 2px solid #000;
    padding-left: 12px;
  }
}
.contarner{
    margin: 0 auto;
    margin-top: 30px;
    .acName{
        width: 300px;
    }
    .antd-pro-biz-components-editor-modules-select-gather-select-gather-module-item-type-box{
      margin-top: 0px !important;
    }
}
