.alter-ad-box {
  position: relative;
  width: 100%;
  padding: 0 24px;

  p {
    margin-bottom: 0;
  }

  .alter-header {
    display: flex;
    justify-content: space-between;
    height: 22px;
    margin: 33px 0 12px;
    line-height: 22px;

    .header-left {
      display: flex;
      align-items: center;

      .header-left-title {
        height: 22px;
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 22px;
      }

      .header-left-text {
        height: 18px;
        margin-left: 4px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        line-height: 18px;
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      cursor: pointer;

      .header-right-icon {
        font-size: 16px;
      }

      .header-right-text {
        height: 18px;
        margin-left: 4px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 18px;
      }
    }
  }

  .alter-style-choice{
    position: relative;
    margin-bottom: 26px;
    .style-header{
      height:18px;
      margin-bottom: 8px;
      font-size:12px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(102,102,102,1);
      line-height:18px;
    }
    .style-content-box{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      .quantity-item{
        width: 50%;
        .item-img-box{
          position: relative;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          cursor: pointer;
          .item-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background:rgba(244,244,244,1);

            &.small {
              width: 32px;
              height: 32px;
            }

            .icon-img{
              width: 18px;
              height: 14px;
            }
          }
        }
        .item-size-one{
          width: 124px;
          height: 40px;
        }
        .item-size-two{
          width: 166px;
          height: 40px;
        }
        .item-size-three{
          width: 166px;
          height: 81px;
        }
        .item-text{
          height:18px;
          margin-top: 8px;
          font-size:12px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(102,102,102,1);
          line-height:18px;
          text-align: center;
        }
      }
      .style-item{
        &:nth-of-type(2) .item-img {
          border-radius: 50%;
        }
        .item-img {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 56px;
          height: 56px;
          background:rgba(244,244,244,1);

          .icon-img{
            width: 18px;
            height: 14px;
          }
        }

        .item-text{
          height:18px;
          margin-top: 8px;
          font-size:12px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(102,102,102,1);
          line-height:18px;
          text-align: center;
        }
      }
      .blue-border::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border:2px solid rgba(24,144,255,1);
      }
      .blue-circle-border::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border:2px solid rgba(24,144,255,1);
        border-radius: 50%;
      }
    }
  }

  .alter-content {
    position: relative;

    .alter-content-item {
      display: flex;
      justify-content: space-between;
      position: relative;
      height: 80px;
      margin-bottom: 24px;

      .item-img-box {
        width: 80px;
        height: 80px;
        background: rgba(244, 244, 244, 1);

        .img-show-box {
          position: relative;
          width: 80px;
          height: 80px;

          &:hover .img-mask {
            display: block;
          }

          .img-mask {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            background: rgba(158, 158, 158, 1);
            opacity: 0.7;
            cursor: pointer;

            .mask-text {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 64px;
              height: 24px;
              transform: translateX(-50%) translateY(-50%);
              border-radius: 2px;
              border: 2px solid rgba(255, 255, 255, 1);
              font-size: 12px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              line-height: 24px;
              text-align: center;
            }
          }

          .img-show-img {
            width: 80px;
            height: 80px;
          }
        }

        .item-img-upload {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 80px;
          background: rgba(244, 244, 244, 1);
          cursor: pointer;

          .upload-text {
            height: 22px;
            margin-left: 6px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(85, 85, 85, 1);
            line-height: 22px;
          }
        }
      }

      .item-right-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 266px;
        .item-right-item{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .item-right-item-text{

          }
        }
        .item-type-select {
          width: 105px;
        }
      }
    }
  }
}