.photo-alipay-mkt-box {
  margin: 0 auto 4px;
  img {
    width: 100%;
  }
}

.propPaddingLR {
  padding-left: 8px;
  padding-right: 8px;
}
.propPaddingTB {
  padding-top: 12px;
  padding-bottom: 12px;
}
.propRadius {
  border-radius: 8px;
}